# Next.js
.next
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules

# Env
.env
.env.local
.env.development
.env.production
.env.test

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Typescript
*.tsbuildinfo

# Coverage
coverage

# Misc
*.log
